<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<% @total_score %>

<p> <%= @message %></p>
<p> Your score : <%= @score %></p>
<p> Your total score : <%= @total_score %></p>

<form action="/new">
  <%= hidden_field_tag :total_score, @total_score %>
  <input type="submit" value="Restart the game">
</form>


